*{
	margin: 0;
}

header{
	background-color: #272b38;
	
}
li, a{
	color: grey;
}
a{
	margin-top: 15px;
}
h3{
	margin-bottom: 20px;
}
.jumbotron{
	margin: 30px;
}

@media (min-width: 320px) {
  .container {
    width: 350px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
#link1{
	font-size: 1.5em;
}
#link2{
	font-size: 1.3em;
}
#link4{
	font-size: .9em;
}
#link1, #link2, #link3, #link4{
	color: blue;
	padding: 10px;
}
.badg{
	margin: 10px;
}
.list-group-item{
	margin: 0;
}
.slide{
	display: none;
	width: 50%;
	height: 400px;
}
#slides{
	padding: 4em;
}
.img-responsive{
	height: auto;
}
p#footer{
	height: 20px;
	text-align: center;
	width: 100%;
}
footer {
  text-align: center;
  height: 70px;
  background: #000;
  color: white;
  padding-top: 20px;
}